.photo-popup__close {
  position: absolute;
  top: -10px;
  right: -35px;
  width: 28.3px;
  height: 28.3px;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/popup__close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  border: none;
}

.photo-popup__close:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s linear;
}

.photo-popup__close:focus {
  outline: none;
}

@media all and (max-width: 400px) {
	.photo-popup__close {
    width: 21.3px;
    height: 21.3px;
    top: -2px;
    right: -27px;
    background-size: 37px;
  }
}
