.profile__container {
  position: relative;
  margin-right: 30px;
}

.profile__container::before {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
}

.profile__container:hover::before {
  cursor: pointer;
  background-color: rgb(0, 0, 0, .5);
  transition: background-color .2s linear;
}

@media all and (max-width: 628px) {
	.profile__container {
    margin: 0 auto 14px;
  }
}
