.card__like {
  width: 21px;
  height: 18px;
  background-color: transparent;
  border: 0;
  padding: 0;
  background-image: url(../../../images/card__like.svg);
}

.card__like:hover {
  cursor: pointer;
  opacity: .6;
  transition: opacity .2s linear;
}

.card__like:focus {
  outline: none;
}
